<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.etudes.alarmclockv6">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".AlarmReceiverMonday" />
        <receiver android:name=".NightReceiver" />
        <receiver android:name=".HabitsReceiver" />
        <receiver android:name=".GoBedReceiver" />
        <receiver android:name=".SummaryReceiver" />


        <service
            android:name=".NightBroadcastService"
            android:enabled="true" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <service
            android:name=".RingtonePlayingServiceMon"
            android:enabled="true" />

        <service
            android:name=".HabitsBroadcastService"
            android:enabled="true" />







        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MiniGames.MatrixGame"
            android:label="@string/title_activity_matrix_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MiniGames.RouletteGame"
            android:label="@string/title_activity_roulette_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MiniGames.TapTaupeGame"></activity>
    </application>

</manifest>